$header-bg: url('../img/m-h-night.jpg') no-repeat;

$fill-bg:       #ff4e33;
$body-bg:       #21232e;
$bg-primary:    #3b3f50;
$primary-text:  #ffffff;
$button-bg:     #e3ac00;
$card-heading:  #ffffff;
$card-text:     #c0c3ce;
$gradient-from: #dda306;
$gradient-to:   #963250;

$title-font: 'Source Sans Pro', sans-serif;
$primary-font: 'Fresca', sans-serif;