$header-bg: url('../img/m-h-day.jpg') no-repeat;

$fill-bg:       #0ca1c8;
$body-bg:       #ffffff;
$bg-primary:    #21232e;
$primary-text:  #2c2f3c;
$button-bg:     #699a00;
$card-heading:  #ffffff;
$card-text:     #c0c3ce;
$gradient-from: #649413;
$gradient-to:   #2f5dd2;

$title-font: 'Source Sans Pro', sans-serif;
$primary-font: 'Hind', sans-serif;